.header__logo {
  width: 120px;
  background: url(/images/logo.svg) center/contain no-repeat;
  height: 35px;
}
@media only screen and (min-width: 375px) {
  .header__logo {
    width: 150px;
  }
}
@media only screen and (min-width: 1024px) {
  .header__logo {
    width: 170px;
    margin-left: 50px;
  }
}
